/* Made with love by Mutiullah Samim*/


html,body{
background-image: url('/images/exam.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;

}

.container{

align-content: center;
}
.title {
            font-size: 60px;
            padding-bottom: 10px;
            color: white;
            text-align: center;
    }

.card{
height: 300px;
margin-top: 10px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.cardh{
height: 100px;
margin-top: 10px;
margin-bottom: auto;
width:100%;
background-color: rgba(212,247,246,0.5) !important;
}




.card-header h3{
color: white;
}



.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.design  {
   
    background:url(/images/user.png) no-repeat center;
    background-size:100% 100%;
    display: inline-block;
    height: 100%;
    width: 100%;
    *display:inline;
}
.designp  {
   
    background:url(/images/pass.png) no-repeat center;
    background-size:60% 60%;
    display: inline-block;
    height: 100%;
    width: 100%;
    *display:inline;
}